


@import "home";
body{
    background-color: coral;
    font-size: 25px;
}

section{
    background-color:gray;

h1{
        font-size:60px;
        &:hover{
            color:aqua;
        }
}
p{
    font-style: italic;
    span{
        color:red;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
}